html, body {
    margin: 0;
    padding: 0;
    background: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .crt-wrapper {
    --screen-top: 11%;
    --screen-left: 8.6%;
    --screen-width: 64%;
    --screen-height: 70.5%;
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Use fixed aspect ratio, but size conditionally */
    width: min(100vw, calc(100vh * (394 / 291)));
    height: calc(100vw / (394 / 291));
    max-height: 100vh;
  }
  
  .crt-border {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
  }
  
  .crt-content {
    position: absolute;
    z-index: 1;
  
    /* These values overfilled slightly for no gaps */
    top: var(--screen-top);
    left: var(--screen-left);
    width: var(--screen-width);
    height: var(--screen-height);
  
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: rgb(0, 255, 0);
    text-shadow:
      0 0 1px rgb(30, 150, 0),
      0 0 3px rgb(30, 150, 0),
      0 0 5px rgb(10, 60, 0);
    font-family: 'Courier New', monospace;    
  }
  
  .crt-screen {
    position: absolute;
    top: var(--screen-top);
    left: var(--screen-left);
    width: var(--screen-width);
    height: var(--screen-height);
    z-index: 3;
    pointer-events: none;
  
    background:
      radial-gradient(circle at center, rgba(255, 255, 255, 0), rgba(50, 50, 50, 0.9)),
      linear-gradient(to bottom right, rgba(255,255,255,0.3), transparent 50%),
      repeating-linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025) 0.5%, transparent 0.5%, transparent 1%);
    
    border-radius: 25% / 10%;
    box-shadow: inset 0 0 40px rgb(255, 255, 255, 0.5);
  }
  
  .crt-vsync {
    --bar-height: 15%;
    /*border: 2px dashed red;*/
    position: absolute;
    top: var(--screen-top);
    left: var(--screen-left);
    width: var(--screen-width);
    height: calc(var(--screen-height) + var(--bar-height));
    z-index: 2; /* between screen overlay and border */
    pointer-events: none;
  
    background: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(var(--bar-height) / 2),
      rgba(129, 88, 88, 0.12) calc(var(--bar-height) / 2),
      rgba(0, 0, 0, 0.12) var(--bar-height)
    );
  
    animation: vsyncScroll 0.7s linear infinite;
    opacity: 0.2;
  }
  
  @keyframes vsyncScroll {
    0% {
      /* Set this equal to bar-height */
      transform: translateY(-15%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  